@page
@{
    ViewData["Title"] = "Home";
}


<section class="hero minimal-hero">
    <div class="hero-overlay-box">
        <h1 class="intro-name">FONTAYNE PORTER</h1>
        <p class="tagline">Full Stack Developer turning ideas into real-world solutions.</p>
        <a class="hero-link" href="/About"> Learn More→</a>
    </div>
</section>

